*{
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    background-color: aqua;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;


}
.hidden {
    display: none;
}

#timer{
    margin: 10px;
    color:red;
    font-size: large;
    font-weight: bold;
}
.score{
    margin: 50px;
    color:black;
    font-size: large;
    font-weight: bold;

}